<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>www.photoshare.party</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>40.68.161.83:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>testingASPNET</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=photoshare.database.windows.net;Initial Catalog=photoShareDB;Persist Security Info=True;User ID=photoshare;Password=Pdf6LCW6tr" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PhotoShare.DataAccess.DataContext.PhotoShareDbContext, PhotoShare" MigrationConfiguration="PhotoShare.Migrations.Configuration, PhotoShare" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExternalConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=photoshare.database.windows.net;Initial Catalog=photoShareDB;Persist Security Info=True;User ID=photoshare;Password=Pdf6LCW6tr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExternalConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=photoshare.database.windows.net;Initial Catalog=photoShareDB;Persist Security Info=True;User ID=photoshare;Password=Pdf6LCW6tr" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=photoshare.database.windows.net;Initial Catalog=photoShareDB;Persist Security Info=True;User ID=photoshare;Password=Pdf6LCW6tr</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>